@using CarRentalManagement.Shared.Models;
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@manufacturer" OnValidSubmit="@onValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@disabled">
        <div class="form-group">
            <label>Name</label>
            <div>
                <InputText @bind-Value="@manufacturer.Name" />
                <ValidationMessage For="@(() => manufacturer.Name)" />
            </div>
        </div>
    </fieldset>

    @if (!disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @buttonText
        </button>
    }

</EditForm>

<BackToList target="manufacturers" />

@code {
    [Parameter] public Manufacturer manufacturer { get; set; }
    [Parameter] public string buttonText { get; set; } = "Save";
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public Boolean disabled { get; set; }

}
